.button{
    width: 150px;
    height: 30px;
    background-color: rgb(207, 151, 8);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: tomato;
}
.cart{
flex: 0.25;
margin-left:10px;
margin-top: 10px;
padding:5px;
height: 380px;
width:600px;
border: 1px solid rgb(195, 5, 5);

}
.cart p{
    display: flex;
    justify-content: space-between;
}
/* .cart h5 {
    margin-left: 10px;
} */
