.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    margin-left: 15%;
}
.product h3,p,h2,h4,button{
    margin-left: 20px;
}
.product h3{
    color: blueviolet;
    font-weight: 600;
}
.product p{
    color: black;
    font-weight: 500;
}
.product h2{
    font-weight:400;
}
.product h4{
    font-weight: 500;
}
.button{
    width: 150px;
    height: 30px;
    background-color: rgb(207, 151, 8);
    border: 1px solid black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(202, 66, 3);
}